@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.topbar{
    width: auto;
    background-color: #222;
    border: 10px;
    color: #f3f3f3;
}
#txt2{
    float: right;
}